body {
background-image: url('https://res.cloudinary.com/djunroohl/image/upload/v1730754650/mixerboard_tcirv1.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

img {
    padding: 10vw;
    border-radius: 30px;
    border: 8px solid #00000040;
}

.vipBackground {
    background-color: darkslategray;
}

.postTitle{
    color: seashell;
    display: flex;
    justify-content: center;
    margin-right: 10vw;
}