
.card{
    border-style: outset !important;
    border-color: ghostwhite !important;
    border-width: thick !important;
    border-radius: 10px !important;
    background-color: lavender !important;
}


@media screen and (max-width: 768px) {
    div{
        div {
            width: -webkit-fill-available !important;
            margin-left: 1vw;
            margin-right: 1vw;
            overflow-x: hidden;
        }
    }   
}